<h1>All Contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %></li>
<% end %>
</ul>

  <!-- <h1>Create new Contact</h1>

  <form action='/contacts' method='post'>
    <input type='text' name='first_name'>
    <input type='text' name='last_name'>
    <input type='text' name='email'>
    <input type='text' name='note'>
    <input type='submit' value='New Contact'>
  </form> -->

<!--
<% %> is great for each statements and other blocks, since it won't actually output the value inside the wrappers, but only execute the code.
<%= %> behaves much more like a puts. Change them and see what happens. -->
