<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bitmaker CRM</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>Bitmaker CRM</header>
    <navdiv>
      <nav class="header_divs" href="/">Home</nav>
      <nav class="header_divs" href="/contacts/new">Add a contact</nav>
      <nav class="header_divs" href="/">About</nav>
    </navdiv>

      <%= yield %>


  </body>
  <footer> © Bitmaker 2017 </footer>
</html>
